@font-face{
    font-family: Portafolio;
    src:url("tipografias/Germany Ghotic.ttf")
}

@font-face{
    font-family: Portafolio1;
    src:url("tipografias/Germany Slime Gothic.otf")
}

@font-face{
    font-family: Portafolio2;
    src:url("tipografias/Gothic War.otf")
}

@font-face{
    font-family: Firma;
    src:url("tipografias/Graffiti City.otf")
}


